@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Select a target repository for data persistence from the list first then click on <b>Change!</b>.
    But not so fast, make sure you have set the correct values in the web.config.
</p>
<p>
    For database's creation, there is a SQL project available so you can create your own.
    <br />
    Example:
    <img src="~/Content/config.png" alt="Alternate Text" />
</p>


