@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ellauri 840 Apt 202<br />
    Montevideo, Uruguay<br />
    <abbr title="Phone">P:</abbr>
    +59899882205
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:velarde.rojas.arturo@gmail.com">velarde.rojas.arturo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:avelarder@bigdataways.com">avelarder@bigdataways.com</a>
</address>